.title,
.text {
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 6.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2px;
}

.cancel {
  border: 1px solid hsl(307, 40%, 66%);
  background-color: hsl(1, 70%, 88%);
}

.cancel:hover {
  background-color: hsl(307, 40%, 66%);
  color: #fff;
  transition: all 0.3s;
}

.clear {
  border: 1px solid hsl(307, 40%, 66%);
  background-color: hsl(341, 70%, 80%);
  transition: all 0.3s;
}

.clear:hover {
  background-color: hsl(341, 80%, 45%);
  color: #fff;
}

@media (min-width: 1024px) {
  .buttons {
    width: 100%;
  }

  .button {
    width: 7rem;
  }
}
