.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  min-height: 4rem;
  background-color: hsl(258, 29%, 40%);
  border: 2px solid hsl(283, 34%, 60%);
  margin-bottom: 1rem;
  color: #fff;
  border-radius: 6px;
}

.select {
  padding: 0.25rem 0.5rem;
  border: 1px solid hsl(283, 34%, 60%);
  border-radius: 2px;
}

.sizeControl {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 480px) {
  .wrapper {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin-bottom: 2rem;
  }
}
