.page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  background-color: hsl(258, 29%, 30%);
  position: relative;
}

.download {
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .page {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .canvas {
    gap: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .download {
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  .page {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .download {
    margin-top: 2rem;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}
