.page {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  background-color: hsl(258, 29%, 30%);
  position: relative;
}

.wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(258, 29%, 40%);
  border: 1px solid hsl(283, 34%, 60%);
  border-radius: 6px;
}

@media (min-width: 480px) {
  .canvas {
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper {
    flex-direction: column;
    order: -1;
  }
}

@media (min-width: 768px) {
  .page {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4rem;
  }

  .canvas {
    gap: 0;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}
