.page {
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.logo {
  width: 20rem;
  height: auto;
  fill: hsl(307, 40%, 66%);
}

.canvas {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
  background-color: hsl(258, 29%, 30%);
  border: 1px solid hsl(283, 34%, 60%);
  border-radius: 2px;
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 2rem;
    padding-bottom: 5rem;
  }
}
