.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid hsl(307, 40%, 66%);
  background-color: hsl(341, 70%, 80%);
  transition: all 0.3s;
  border-radius: 2px;
}

.button:hover {
  background-color: hsl(341, 80%, 45%);
  color: #fff;
}
