.options {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
  justify-content: flex-end;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.wrapper {
  box-shadow: 0 0 0 1px #cdcdcd;
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.small {
  width: 16rem;
}

.medium {
  width: 32rem;
}

.large {
  width: 40rem;
}

.cell {
  width: 1rem;
  height: 1rem;
  appearance: none;
  cursor: pointer;
  border: 1px solid #cdcdcd;
}

.cell:hover {
  border-color: #828282;
}

.container {
  width: 16rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 3rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
