.container {
  overflow: auto;
}

.wrapper {
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 1rem;
  height: 1rem;
  appearance: none;
  cursor: pointer;
  border: 1px solid hsl(258, 10%, 80%);
}

.cell:hover {
  border-color: hsl(258, 10%, 40%);
}

.loaderContainer {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 3rem;
  animation: spin 1.5s linear infinite;
}

.button {
  width: 6.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid hsl(307, 40%, 66%);
  background-color: hsl(341, 70%, 80%);
  transition: all 0.3s;
}

.button:hover {
  background-color: hsl(341, 80%, 45%);
  color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
