.container {
  overflow: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  touch-action: none;
}

.cell {
  width: 1rem;
  height: 1rem;
  appearance: none;
  cursor: pointer;
  border: 1px solid hsl(258, 10%, 80%);
}

.cell:hover {
  border-color: hsl(258, 10%, 40%);
}

.loaderContainer {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 3rem;
  animation: spin 1.5s linear infinite;
}

.button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid hsl(307, 40%, 66%);
  background-color: hsl(341, 70%, 80%);
  transition: stroke 0.2s;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: hsl(341, 80%, 45%);
}

.button:hover svg g {
  stroke: #fff;
}

.uploadSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.uploadContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.hiddenInput {
  display: none;
}

.uploadButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid hsl(327, 73%, 76%);
  background-color: hsl(18, 100%, 88%);
  transition: background-color 0.2s;
  border-radius: 2px;
}

.uploadButton:hover {
  background-color: hsl(258, 29%, 30%);
}

.uploadIcon,
.deleteIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.uploadButton svg g {
  transition: stroke 0.2s;
  transition: background-color 0.2s;
}

.uploadButton:hover svg g {
  fill: hsl(327, 73%, 76%);
}

.divider {
  width: 3px;
  height: auto;
  background-color: hsl(283, 34%, 60%);
  border-radius: 2px;
}

.uploadStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20%;
  right: -20%;
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.uploadStatus svg {
  background-color: hsl(120, 97%, 35%);
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 4px 0px hsl(258, 29%, 20%);
}

.uploadStatus svg path {
  stroke: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .uploadSection {
    flex-direction: column;
  }

  .divider {
    height: 3px;
    width: 2rem;
  }
}
