.wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: hsl(258, 29%, 40%);
  border: 1px solid hsl(283, 34%, 60%);
  border-radius: 6px;
}

.paletteIconWrapper {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paletteSelect {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.paletteIcon {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}

.paletteWrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.paletteItem {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
}

.paletteItem:hover,
.paletteIconWrapper:hover {
  border: 2px solid hsl(1, 100%, 88%);
  box-shadow: 0 0 4px 0px hsl(332, 86%, 80%);
}

.colorControl,
.eraserContainer {
  display: flex;
  gap: 0.5rem;
  padding-left: 6px;
}

.divider {
  width: 3px;
  height: 100%;
  background-color: hsl(283, 34%, 60%);
  border-radius: 2px;
}

.customColor {
  padding: 0;
  background: none;
}

.customColor::-webkit-color-swatch-wrapper {
  padding: 0;
}

.customColor::-webkit-color-swatch {
  border: none;
  border-radius: 6px;
}

.eraser {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #fff;
}

.eraserIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 480px) {
  .wrapper {
    flex-direction: column;
    order: 1;
    height: 100%;
  }

  .paletteWrapper {
    flex-direction: column;
  }

  .colorControl,
  .eraserContainer {
    flex-direction: column;
    padding-top: 6px;
    padding-left: 0;
  }

  .divider {
    height: 3px;
    width: 2rem;
  }

  .paletteItem,
  .paletteIconWrapper {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    /* padding: 1.5rem; */
  }
}
